<div class="category-container">
  <%= render "layouts/header" %>
  <%= render partial: "partials/category_card", locals: { category: @category} %>

  <div class="category-container--cards">

  </div>

  <%= link_to "Add Transaction", new_category_budget_transaction_path, class: "add-btn" %>
</div>
