<div class="transaction-card">
  <div class="transaction-card__title">
    <p><%= transaction.name %></p>
  </div>

  <div class="transaction-card__amount">
    <p>$ <%= '%.2f' % transaction.amount %></p>
  </div>
</div>