<div class="category-container">
  <div class="category-container--cards">
    <% @categories.each do |category| %>
      <%= link_to category_budget_transactions_path(category), class: "card-link" do %>
        <%= render partial: "partials/category_card", locals: { category: category} %>
      <% end %>
    <% end %>
  </div>

  <%= link_to "Add Category", new_category_path, class: "add-btn" %>
</div>
